@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary{
  color: #f47920 !important;
}

.text-extra-small {
  font-size: 13px;
  line-height: 20px;
}
.border-b-6{
  border-bottom-width: 6px;
}
.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 6px;
  /* Border thickness */
  background-color: var(--tw-border-opacity, 1) rgba(59, 130, 246, 1);
  /* Tailwind 'border-primary' equivalent */
  transition: width 0.3s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
